- form_for(image, :html => { :multipart => true }) do |f|
  = f.error_messages
  %p
    = f.file_field :uploaded_data
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.submit "Submit"