%h2 Welcome to OML
%p This is just a test version for testing the functionality of the different models, there references and the RESTful JSON interface for the iPhone and Desktop client.
%p Just append .json to an URL the get the result in JSON. E.g.
%ul
	%li= roles_en_url
	%li= '%s.json' % roles_en_url
%p Or use old school XML instead. E.g.
%ul
	%li= '%s.xml' % roles_en_url
%p To get the data in a different (available) language add a language symbol as prefix. E.g.
%ul
	%li= roles_de_url
	%li= '%s.json' % roles_de_url
%h3 Chose a model:
%ul{:class => 'menu_big'}
	%li= link_to 'roles (%i)' % Role.count, roles_url
	%li= link_to 'images (%i)' % (Image.count / 2), images_url
	%li= link_to 'tags (%i)' % Tag.count, tags_url
	%li= link_to 'languages (%i)' % Language.count, languages_url
%ul{:class => 'menu_big'}
	%li= link_to 'titles (%i)' % Title.count, titles_url