- form_for(tag) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :image
    %br
    = f.collection_select :image_id, @images, :id, :id
  %p
    = f.submit "Submit"