!!! XML
!!!
%html{ :'xml:lang' => I18n.locale, :lang => I18n.locale }
  %head
    %title= "OpenMediaLibrary"
    %meta{ :"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    = stylesheet_link_tag "application", :media => "screen"#, :cache => true
    = javascript_include_tag :defaults#, :cache => true
  %body
    #wrapper
      #content
        #menu
          %ul
            %li= link_to_unless_active(controller.class.to_s == 'HomeController' && controller.action_name == 'index', 'home', home_path, 'active')
        %h1 OpenMediaLibrary
        #flash
          - unless flash.empty?
            = content_tag :div, flash[:notice],  :class => "notice"  if flash[:notice]
            = content_tag :div, flash[:warning], :class => "warning" if flash[:warning]
            = content_tag :div, flash[:error],   :class => "error"   if flash[:error]
          :javascript
            #{visual_effect :highlight, "flash"}
        = yield
      #footer
        %p= '%s | %s' % [link_to_unless_active(I18n.locale == 'de', t(:german), params.merge(:locale => 'de'), 'active'), link_to_unless_active(I18n.locale == 'en', t(:english), params.merge(:locale => 'en'), 'active')]
        #menu
          %ul
            %li= link_to_unless_active(controller.class.to_s == 'RolesController' && controller.action_name == 'index', 'roles', roles_path, 'active')
            %li= link_to_unless_active(controller.class.to_s == 'ImagesController' && controller.action_name == 'index', 'images', images_path, 'active')
            %li= link_to_unless_active(controller.class.to_s == 'TagsController' && controller.action_name == 'index', 'tags', tags_path, 'active')
            %li= link_to_unless_active(controller.class.to_s == 'LanguagesController' && controller.action_name == 'index', 'languages', languages_path, 'active')
            %li= link_to_unless_active(controller.class.to_s == 'TitlesController' && controller.action_name == 'index', 'titles', titles_path, 'active')